<h1 class="qandas-h1">よくある質問</h1>
<p class="qandas-this">Q and A</p>
<div class="qandas-section">
  <h2 class="qandas-h2">うまくログインできない</h2>
  <p class="qandas-description">新しいアカウントをつくって再ログインしてみてください。</p>
</div>

<div>
  <%= image_tag 'Welcome_scan.jpg', class: 'img-responsive' %>
</div>
<div class="qandas-section">
  <h2 class="qandas-h2">投稿方法がわからない</h2>
  <p class="qandas-description">投稿ページに詳しい使用方法がのっています。</p>
</div>

<div>
  <%= image_tag 'Welcome_scan.jpg', class: 'img-responsive' %>
</div>


<!--
<div class="d-flex align-items-center">
  <h1>よくある質問</h1>
  <div class="ml-auto posts_button">
      <a class="btn btn-outline-info" href="/boards">質問一覧</a>
  </div>
</div>
<= form_for @board do |f| %>
    <div class="form-group">
        <= f.label :name, '投稿者名' %>
        <= f.text_field :name, class: 'form-control' %>
        <small id="poster-tip" class="form-text text-muted">
            あなたの名前を入力してください。
        </small>
    </div>
    <div class="form-group">
        <= f.label :title, '投稿タイトル' %>
        <= f.text_field :title, class: 'form-control' %>
        <small id="title-tip" class="form-text text-muted">
            タイトルを入力してください。
        </small>
    </div>
    <div class="form-group">
        <= f.label :content, '投稿内容' %>
        <= f.text_area :content, class: 'form-control', rows:10 %>
        <small id=content-tip" class="form-text text-muted">
            投稿内容を入力してください。
        </small>
    </div>
    <= f.submit '投稿', class: 'btn btn-info btn-block' %>
    <small id="submit-tip" class="form-text text-muted">
        投稿する前に投稿内容を見直してください!
    </small>
< end %>
-->
