<h1 class="sitemaps-h1">サイトマップ</h1>
<p class="sitemaps-this">sitemaps</p>
<div class="row">
  <div class="col-md-5 col-md-offset-1 post-new-left">
    <ul class="sitemaps-section" data-widget="tree">
      <li>
        <a href= "/abouts/index">
          <i class="fa fa-exclamation-circle"></i> <span>このサイトとは</span>
        </a>
      </li>
      <li>
        <a href= "/posts/index">
          <i class="fa fa-eye"></i> <span>調べる</span>
        </a>
      </li>
      <li>
        <a href= "/posts/new">
          <i class="fa fa-comment-dots"></i> <span>共有</span>
        </a>
      </li>
      <li>
        <a href= "/boards">
          <i class="fa fa-comment-alt"></i> <span>掲示板</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-5 post-new-right">
    <li>
      <a href= "/abouts/index">
        <i class="fa fa-exclamation-circle"></i> <span>このサイトとは</span>
      </a>
    </li>
    <li>
      <a href= "/posts/index">
        <i class="fa fa-eye"></i> <span>調べる</span>
      </a>
    </li>
    <li>
      <a href= "/posts/new">
        <i class="fa fa-comment-dots"></i> <span>共有</span>
      </a>
    </li>
    <li>
      <a href= "/boards">
        <i class="fa fa-comment-alt"></i> <span>掲示板</span>
      </a>
    </li>
  </div>
</div>
<div class="sitemaps-section">
  <h2 class="sitemaps-h2">こ</h2>
  <p class="sitemaps-description">.</p>
</div>

<div class="sitemap-img">
  <%= image_tag 'Welcome_scan.jpg', class: 'img-responsive' %>
</div>
