<div class="top-hero-wrapper">
  <div class="container top-hero-container">
    <div class="text-center">
      <h1 class="pages-h1">FUKU</h1>
      <h2 class="pages-h2">食の安全と安心</h2>
    </div>
    <div>
      <%= image_tag 'Welcome_scan.jpg', class: 'img-responsive' %>
    </div>
  </div>
</div>
