<h1 class="contacts-h1">コンタクト</h1>
<p class="contacts-this">contacts</p>
<div class="contacts-section">
  <h2 class="contacts-h2">電話でのお問合せ</h2>
  <p class="contacts-description">090 - XXXX - XXXX</p>
  <p class="contacts-description">9:00 ~ 18:00 年中無休</p>
</div>
<div class="contacts-section">
  <h2 class="contacts-h2">メールでのお問合せ</h2>
  <p class="contacts-description">XXX.XXX@gmail.com</p>
</div>
<div>
  <%= image_tag 'Welcome_scan.jpg', class: 'img-responsive' %>
</div>
