<h1 class="abouts-h1">このサイトについて</h1>
<p class="abouts-this">about this site</p>
<div class="abouts-section">
  <h2 class="abouts-h2">このサイトの目的</h2>
  <p class="abouts-description">食物アレルギーに関する情報をみんなで共有しよう。アレルギーがあるとどの食品にどのような原材料が含まれるか不安になることがある。そんな時に</p>
</div>
<div class="abouts-section">
  <h2 class="abouts-h2">使用方法</h2>
  <p class="abouts-description">閲覧ページで、気になる食品に含まれる原材料をしらべることができます。<br>さらに、いまだ登録されていない情報を投稿することができます。</p>
</div>
<div class="abouts-section">
  <h2 class="abouts-h2">投稿の仕組み</h2>
  <p class="abouts-description">ログイン完了後、投稿ページに移動してください。投稿する<br>食品名・食品製品の写真を打ち込んでください。さらに、含まれる原材料名を選択してください。</p>
</div>
