<%= form_tag(post_path, method: :put) do %>
  <div class="form-group">
   <label for="exampleInputEmail1">編集する</label>
   <input type="hidden" name="id" value="<%= @post.id %>">
   <textarea name="title" class="form-control"><%= @post.title %></textarea>
   <textarea name="description" class="form-control"><%= @post.description %></textarea>
  </div><!--form-group-->
  <button type="submit" class="btn btn-primary">保存</button>
<% end %>
