// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.abouts-h1{
  padding-top: 5px;
  margin-top: 20px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.abouts-this{
  .abouts-p{
    font-family: 'serif';
    padding-bottom: 5px;
    font-size: 20px;
    text-align: center;
  }

  .abouts-section {
    text-align: center;
  }
}

.abouts-h2{
  padding-bottom: 5px;
  font-size: 20px;
  text-align: center;
}

.abouts-description {
  margin-left: 50px;
  margin-right: 50px;
}
.abouts-img {
  display: block;
  height: auto;
  max-width: 50%;
  margin: 0 auto;
}
