<h1>投稿</h1>
<div class="con">
  <a class="button" href="#popup">モーダルウィンドウ表示</a>
  <div class="popup" id="popup">
    <div class="popup-inner">
      <div class="popup__photo">
        <%= image_tag 'Welcome_scan.jpg', class: 'topic-index-icon' %>
      </div>
      <div class="popup__text">
        <h1>foo bar</h1>
        <p>hogehoge hogehoge hogehoge </p>
      </div>
      <a class="popup__close" href="#">X</a>
    </div>
  </div>
</div>
